.sidebar {
  width: 220px;
  height: 100vh;
  
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .p-menu {
  background-color: var(--color-surface) !important;
  border: none !important;
}

.sidebar .p-menuitem-text {
  color: var(--color-text) !important;
}

.sidebar .pi {
  color: var(--color-text) !important;
}

.sidebar .p-menuitem-link:hover {
  background-color: var(--table-row-hover) !important;
}



.sidebar .p-menu {
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
}

/* quando colapsado, esconde os labels do menu */
.sidebar-menu.collapsed .p-menuitem-text {
  display: none;
}

.sidebar-menu.collapsed .p-submenu-icon {
  display: none;
}

