body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.paginaContainer {
    background-color: #F5F5DC;
    padding: 6px 0;
}

.principalContainer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

.cardImagem {
    width: 100%;
    height: 150px;
    display: block;
    margin-bottom: 15px;
    border-radius: 4px;
}

.titulo {
    font-size: 48px;
    font-weight: 500;
    margin-top: 20px;
    ;
    margin-bottom: 20px;
    color: #11141B;
}

.texto {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 50px;
    max-width: 100%;
    color: #A5A5A7;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.cardFuncionalidade {
    flex: 1;
    min-width: 260px;
    max-width: 300px;
    background-color: #F8F8F8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: auto;
    height: auto;

    overflow: hidden;
}

.cardTitulo {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #325d3f;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.cardTexto {
    font-size: 0.95em;
    line-height: 1.5;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;

}

@media (max-width: 1024px) {
    .cardFuncionalidade {
        flex: 0 0 calc(33.333% - 14px);
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .principalContainer {
        padding: 0 20px;
    }

    .cardFuncionalidade {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .cardFuncionalidade {
        flex: 0 0 100%;
        min-height: auto;
    }
}