.navegacao {
    width: 100%;
    background-color: #244428; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 20px; 
    box-sizing: border-box;
 
}

.conteudo-navegacao {
  display: flex;
  align-items: center;
}

.link-navegacao {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.link-navegacao:hover {
  color: #a7f3d0; 
}
