body{
font-family: 'Plus Jakarta Sans', sans-serif;}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: linear-gradient(to right, #62826B, #1D3115);
    color: #C9D5CB;
    height: 94px;
    box-sizing: border-box; 
    width: 100%;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItem {
    margin-left: 30px;
}

.navLink {
    color: #C9D5CB;
    font-weight: bold;
    text-decoration: none;
}