.card-financeiro {

  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 4px 0 rgb(196, 196, 199),
              0 1px 4px 0 rgba(219, 219, 221, 1);
  gap: 12px;
  width: 90%;
  box-sizing: border-box;
  margin-left: 4%;
  margin-right: 4%;
  height: 50vh;
  justify-content: space-between;
}

.card-financeiro h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #244428;
  margin: 0;
}

.card-financeiro p {
  font-size: 0.95rem;
  color: #333;
  margin: 0;
}

.btn-acessar {
  background-color: #88b04b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.2s ease, transform 0.1s ease;
  width: 60%;
}


.btn-acessar:active {
  background-color: #668a36;
  transform: translateY(0);
}

.btn-acessar:hover {
  background-color: #76a339;
}

