
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    min-height: 100vh;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
} 
