html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F5F5DC;
  color: #11141B;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: #11141B;
}