body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.bodyBanner {
  background-color: #F5F5DC;
  width: 100%;
  min-height:80vh;
  padding: 100px 40px;
}

.conteudoBanner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80px;
  padding: 0;
}

.conteudoColuna {
  flex: 1;
  max-width: 45%;
  padding-top: 30px;
}

.titulo {
  font-size: 3.2em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.15;
}

.subtitulo{
  font-size: 1.05em;
  line-height:1.6;
  margin-bottom: 30px;
  color: #A5A5A7;
}

.botaoCadastrar {
  background-color: #325d3f;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

.linkLogin {
  font-size: 1em;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  cursor: pointer;
}


.imagensColuna{
  flex: 1;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.centralizadorImagens {
  display: flex;
  gap: 20px;
  margin-top: -120px;
  z-index: 10;

}

.imagemCentral {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.iconConcatenador {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.imagensLaterais {
  flex: 1;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}